    /* 
    Author: Amy Lee
    Date: 03/21/2022
    File Name: style.css
*/

/* Body area */
body {
    font-family: 'Roboto', sans-serif;
}

/* Nav area */
nav {
    background-color: #B2D2E4;    
}

/* Main contents area */
main {
    padding-top: 100px;    
}

main .container {
    padding: 4% 2% 4em;    
}

main h2 {
    margin-bottom: 1.5em;
    font-family: 'Merriweather', serif;
    font-weight: bold;    
}

.even-background {
    background-color: #eaf2fa;
}

/* Biography section */
.pro-pic {
    border-radius: 50%;
    display: block;
    margin: 0 auto;        
}

#profile p {
    text-align: center;
    margin-bottom: 0;
    padding: 4%;
    font-size: 1.15em;
    font-weight: bold;
}

.social-icon img, .program-icon img {
    width: 32px;
    height: 32px;    
}

.social-icon li, .program-icon li {
    display: inline-block;
    padding: 1em;    
}

.social-icon, .program-icon {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

/* Experience section */
.card {
    padding: 3%;
    margin-bottom: 2%;
    border-radius: 10px;
}

.experience-section h4, .experience-section p {
    display: flex;
}

.experience-section span, .experience-section p span {
    margin-left: auto;
}

.see-more p {
    padding: 2% 0;
}

.mobile-view {
    display: none;
}

/* Project section */
.carousel-inner .col-md-8 {
    padding-top: 5%;
    padding-bottom: 5%;
}

.lead {
    margin-top: 16px;
}

/* Contact section */
#contact .btn {    
    width: 100%;
}

.thankyou_message {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-family: 'Lobster', cursive;
}

/*Footer area */
footer {
    background-color: #B2D2E4;
    text-align: center;     
}

footer span a {
    color: #000;
    text-decoration: none;
}

/* Media Query for mobile Viewport */
@media screen and (max-width: 991px) {
    
    /* Main area */
    main h2 {
        margin-top: 1em;
    }
    
    /* Experience area */
    .tablet-view {
        display: none;
    }
    
    .mobile-view {
        display: block;
    }
    
}

/* Media Query for Tablet-Desktop Viewport */
@media screen and (min-width: 992px) {
    
    /* Nav area */
    .googleSearch {
        width: 30%;        
    }
    
}

